.input-filled {
    background-color: #198754 !important;
    color: white;
}

.input-danger {
    background-color: red !important;
    color: white;
}

.icon-hover:hover {
    font-size: 1.1em;
    color: red;
}

.icon-button {
    cursor: pointer;
}

body {
    background-color: darkgrey;
}

