.input-filled {
    background-color: #198754 !important;
    color: white;
}

.input-danger {
    background-color: red !important;
    color: white;
}

.icon-hover:hover {
    font-size: 1.1em;
    color: red;
}

.icon-button {
    cursor: pointer;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#9ba0a2, #40404d);
}

.column {
    float: left;
    width: 30%;
    margin-top: 4%;
    margin-right: 1%;
}

.dropdown-menu {
    overflow-y: scroll;
    min-height: available;
    max-height: 1600%;

}

.pagination .page-link {
    background: #212529;
    color: white;
}

.thumbnail {
    border: 0;
}

a:hover {
    filter: brightness(0.6);
}

.fa-circle-xmark:hover{
    color:red !important;
}


